**/data
*.Rhistory
*.rds
*.ipynb_checkpoints*
*.code-workspace
/.luarc.json
/docs/.quarto/
**/.DS_Store
**/.vscode/
**/tmp_*
**/sinfo-requirements.txt
**/.vdoc.py
**/.pybiomart.sqlite
.bash_history
.cache/
.ipython/
.jupyter/
.local/
.npm/
/compiled/assets
/compiled/index.html
/compiled/listings.json
/compiled/robots.txt
/compiled/search.json
/compiled/sitemap.xml
/compiled/site_libs
/compiled/labs/index.html
_freeze/
_site/
