project:
  type: website
  # output directory used on gh-pages branch. format: YYMM
  output-dir: "docs"
  render: 
    - "!compiled/"
    - "!LICENSE"
    - "!scripts"
    - "!tmprepo"
    - "!*.Rmd"
    - "!*.md"
    - "!*.ipynb"
    - "*.qmd"

website:
  image: "assets/images/seo.jpg"
  favicon: "assets/favicon.png"
  navbar:
    logo: "assets/logos/nbis-scilifelab.png"
    logo-alt: "nbis-scilifelab-logo"
    right:
      - text: "Home"
        href: "index.html"
      - text: "Schedule"
        href: "home_schedule.html"
      - text: "Contents"
        href: "home_contents.html"
      - text: "Precourse"
        href: "home_precourse.html"
      - text: "Syllabus"
        href: "home_syllabus.html"
      - text: "Info"
        href: "home_info.html"
      - icon: "github"
        href: "https://github.com/NBISweden/workshop-scRNAseq/"
  page-footer:
    border: false
    left: "{{< meta current_year >}} [NBIS](https://nbis.se) | [GPL-3 License](https://choosealicense.com/licenses/gpl-3.0/)"
    right: "Published with [Quarto](https://quarto.org/) v{{< meta quarto_version >}}"
  site-url: "https://nbisweden.github.io/workshop-scrnaseq/"

format:
  html:
    quarto-required: ">=1.3.4"
    include-in-header: "assets/include_head.html"
    include-before-body: "assets/include_body_before.html"
    include_after_body: "assets/include_body_after.html"
    theme: "assets/css/styles.scss"
    smooth-scroll: true
    toc: true
    toc-depth: 4
    toc-location: right
    number-sections: true
    number-depth: 4
    code-fold: false
    code-tools: false
    code-copy: true
    code-overflow: wrap
    df-print: paged
    standalone: false
    fig-align: left
    title-block-banner: "assets/images/banner.jpg"
    callout-icon: true
    date:  last-modified
    date-format: "DD-MMM-YYYY"
    author:
      - name: "Åsa Björklund"
      - name: "Paulo Czarnewski"
      - name: "Susanne Reinsbach"
      - name: "Roy Francis"
    lightbox: 
      match: auto
  revealjs:
    quarto-required: ">=1.3.4"
    include-in-header: "assets/include_head.html"
    include-before-body: "assets/include_body_before.html"
    include_after_body: "assets/include_body_after.html"
    theme: ["default","assets/css/slides.scss"]
    df-print: paged
    width: 1280
    height: 720
    transition: "fade"
    transition-speed: "fast"
    smaller: false
    incremental: false
    scrollable: false
    slide-level: 2
    slide-number: true
    progress: true
    date:  last-modified
    date-format: "DD-MMM-YYYY"
    fig-align: left
    chalkboard: true
    callout-icon: true
    image: "assets/images/featured.jpg"
    hero: "assets/images/slide-hero.png"
    title-slide-attributes:
      data-background-image: "assets/images/home.jpg"
      data-background-size: "cover"
      data-background-opacity: "1"
    subtitle: "Single Cell RNA-Seq Analysis"
    header-logo-left: ../../assets/logos/nbis.png
    header-logo-left-height: 25px
    header-logo-left-url: https://nbisweden.github.io/workshop-scrnaseq/home_schedule.html
    header-logo-right: ../../assets/logos/scilifelab.png
    header-logo-right-height: 25px
    header-logo-right-url: https://nbisweden.github.io/workshop-scrnaseq/home_contents.html
    template-partials:
      - "assets/title-slide.html"

csl: apa.csl

execute:
  eval: true
  echo: true
  warning: false
  message: false
  freeze: true

filters:
  - assets/custom.lua
  - reveal-logo
  - lightbox
  - fontawesome

# used site-wide wherever uppmax project ids are used
uppmax_compute: naiss2023-22-1345
uppmax_storage: naiss2023-23-648

# location options are stockholm or online. For rendering the info page.
# one or more separated by commas or semicolon. online doesn't display any location info.
location: uppsala
assistants:
 - "AB: Åsa Björklund"
 - "JW: Jakub Westholm"
 - "MV: Massimiliano Volpe"
 - "NO: Nikolay Oskolkov"
 - "PA: Prasoon Agarwal"
 - "PP: Paul Pyl"
 - "RF: Roy Francis"
 - "RS: Rasool Saghaleyni"
 - "YL: Yuan Li"

schedule_message:
colors:
  primary: "#95b540"
  secondary: "#BDD775"
  tertiary: "#E9F2D1"
data-url: "https://export.uppmax.uu.se/naiss2023-23-3/workshops/workshop-scrnaseq"
