
/* Images side by side */
/* Three image containers (use 25% for four, and 50% for two, etc) */
.column3 {
  float: left;
  width: 33.33%;
  padding: 5px;
}

.column2 {
  float: left;
  width: 50%;
  padding: 5px;
}

.column4{
    float:left;
    width: 25%;
    padding: 5px;
}


/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
} 

/* Images side by side */
/* Three image containers (use 25% for four, and 50% for two, etc) */
.column3 {
  float: left;
  width: 33.33%;
  padding: 5px;
}

.column2 {
  float: left;
  width: 50%;
  padding: 5px;
}

.column4{
    float:left;
    width: 25%;
    padding: 5px;
}


/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
} 
