  <!-- define dropdowns first -->
{% for m in site.menu %}
  {% if m.submenus %}
    <ul id="{{ m.title }}" class="dropdown-content">
      {% for n in m.submenus %}
        {% if n.divider %}
          <li class="divider"></li>
        {% endif %}
        <li> <a href="{{site.baseurl}}/{{ n.url }}">{{ n.title }}</a></li>
      {% endfor %}
    </ul>
  {% endif %}
{% endfor %}

<div {% if page.fixednav == true %}class="navbar-fixed"{% endif %}>
  <nav class="z-depth-0  main {% if page.transparentnav == true %}transparent{% endif %} " role="navigation">
    <div class="nav-wrapper">
    {% if page.logosnav == true %}<a href="/" class="left navlogo"><img src="{{ site.baseurl }}/workshop-common/assets/img/logo/nbislogo-green.svg" style="height:48px;margin-top:8px;padding:0px;margin-left:8px"></a>{% endif %}
      <ul class="right hide-on-med-and-down">
      {% for m in site.menu %}
        {% if m.submenus %}
        <li><a class="dropdown-button" href="{{ site.baseurl }}/{{ m.url }}" data-activates="{{ m.title }}">{{ m.title }}<i class="material-icons right">arrow_drop_down</i></a></li>
        {% else %}
          <li><a href="{{ site.baseurl }}/{{ m.url }}">{{ m.title }}</a></li>
        {% endif %}
      {% endfor %}
      </ul>

      <a href="#" data-activates="nav-mobile" class="button-collapse right"><i class="material-icons">menu</i></a>
    </div>
  </nav>
</div>
      <ul id="nav-mobile" class="side-nav">
      {% for m in site.menu %}
        {% if m.submenus %}
          <li class="no-padding">
            <ul class="collapsible collapsible-accordion">
              <li class="bold"><a class="collapsible-header waves-effect waves-teal">{{ m.title }}</a>
                <div class="collapsible-body">
                  <ul>
                    {% for n in m.submenus %}
                      <li> <a class="truncate" style="font-size:0.9rem;" href="{{ n.url }}">{{ n.title }}</a></li>
                    {% endfor %}
                  </ul>
                </div>
                </li>
            </ul>
           </li>
        {% else %}
          <li class="no-padding"><a style="padding: 0px 16px" href="{{ site.baseurl }}/{{ m.url }}">{{ m.title }}</a></li>
        {% endif %}
      {% endfor %}
      </ul>
