/* custom css style */

/*-- scss:defaults --*/

/* colours, fonts, size ---------------------------------------------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&family=Nunito:ital,wght@0,400;0,600;1,400;1,600&display=swap');

$primary: #95b540;
$secondary: #E9F2D1;
$link-color: #96b43f;
$body-color: #202020;
$code-block-bg: WhiteSmoke;
$font-family-sans-serif: 'Nunito', 'Source Sans Pro', 'Helvetica', 'sans-serif';
$font-family-monospace: 'JetBrains Mono', 'Ubuntu Mono', 'Lucida Console', 'Courier', 'monospace';
$font-size-root: 18px;
$code-font-size: 14px;
/* major second scale */
$h1-font-size: 1.802rem;
$h2-font-size: 1.602rem;
$h3-font-size: 1.424rem;
$h4-font-size: 1.266rem;
$h5-font-size: 1.125rem;
$h6-font-size: 1rem;
$code-block-border-color: none;
$code-block-font-size: 0.95rem;
$code-bg: $code-block-bg; /* inline code */
/*$code-color: ; */

/* site */
$navbar-bg: #E9F2D1;
$footer-bg: white;
$footer-fg: DimGray;

/* presentation */
$presentation-font-size-root: 28px;
$presentation-line-height: 1.3;
$presentation-h1-font-size: 1.802em;
$presentation-h2-font-size: 1.602em;
$presentation-h3-font-size: 1.424em;
$presentation-h4-font-size: 1.266em;
$presentation-h5-font-size: 1.125em;
$presentation-h6-font-size: 1em;

/*-- scss:rules --*/

/* major third scale */
.largest { font-size: 1.953em;}
.larger { font-size: 1.563em;}
.large { font-size: 1.25em;}
.small { font-size: 0.8em;}
.smaller { font-size: 0.64em;}
.smallest { font-size: 0.512em;}

.highlight {
  background-color: $secondary;
  color: white;
  font-size: 0.85em;
  padding: 0.2em 0.3em;
  border-radius: 4px;
  vertical-align: baseline;
}

/* site ---------------------------------------------------------------------- */

.navbar-nav {
  font-size: 0.85em;
  letter-spacing: 0.1em;
}

.navbar-logo {
  max-height: 20px;
}

.contents-table table {
  line-height: 1.2;
}

.listing-image img {
  height: 40px;
  width: 60px;
  object-fit: cover;
}

.shadow {
  box-shadow: 2px 2px 10px lightgray;
}

.sourceCode, div.sourceCode {
  font-size: 0.875rem;
  border-radius: 0;
}

.alert {
  border-radius: 0;
}

/* call-out */

.call-out, .callout-style-default {
  border-radius: 0 !important;
}

div.callout {
  border-left-color: #dee2e6;
}

div.callout.callout, .callout.callout-style-default {
  border-left: 1px solid;
  border-left-color: #dee2e6;
}

div.callout-note.callout-style-default>.callout-header {
  background-color: $secondary;
}

/* table schedule */

.table-schedule .topic {
  color: white;
  font-weight: bold;
  border-radius: 4px;
  padding: 1px 4px;
  background: #BDBDBD;
}

.table-schedule .topic-dinner {
  color: white;
  font-weight: bold;
  border-radius: 4px;
  padding: 1px 4px;
  background: #95b540;
}

.table-schedule .marker {
  color: $primary;
  margin-left: 5px;
  margin-right: 5px;
}

.table-schedule td p {
  margin-bottom: 0;
  padding: 5px 0px;
}

/* tooltip */

.tooltip-text {
  visibility: hidden;
  position: absolute;
  z-index: 1;
  width: fit-content;
  color: white;
  background-color: $primary;
  padding: 5px;
  border-radius: 4px;
}

.hover-text:hover .tooltip-text {
  visibility: visible;
}

.top {
  top: -55px;
  left: -60%;
}

.hover-text {
  position: relative;
  display: inline-block;
  text-align: center;
}

/* presentation ---------------------------------------------------------------------- */

.reveal .callout.callout-captioned .callout-icon::before {
  margin-top: 0.5rem;
  scale: 0.8;
}

.reveal .slides section[data-vertical-align-top] {
  top: 0 !important;
}

.reveal .blockquote {
  font-size: inherit;
  padding-left: 1rem;
  padding-right: 1.5rem;
  color: #5a6570;
  padding: 0.625rem 1.25rem;
  border-left: 0.25rem solid #ecf0f1;
  margin-bottom: 1rem;
}

.reveal .left {
  display: block;
  text-align: left;
}

.reveal .center {
  display: block;
  text-align: center;
}

.reveal .right {
  display: block;
  text-align: right;
}

.reveal pre {
  font-size: 0.92em;
  line-height: 1.3;
  margin-bottom: 0.5em;
}

.reveal pre,
.reveal code {
  border-radius: 6px;
  border: 0 !important;
}

.reveal code {
  font-size: 0.9em;
  padding-left: 4px;
  padding-right: 4px;
}

.reveal div.sourceCode {
  border: 0 !important;
  border-radius: 6px;
  margin-bottom: 0.6em !important;
  /* margin-top: 0.6em !important; */
}

.reveal pre code {
  background-color: #F5F5F5 !important;
  border-radius: 6px;
}

.reveal .slide-number {
  font-family: "Source Sans Pro";
}

.reveal .slide ul,
.reveal .slide ol {
  line-height: 1.2;
}

.reveal .slide ul li,
.reveal .slide ol li {
  margin-top: 0.05em !important;
  margin-bottom: 0.05em !important;
}

.reveal table {
  font-size: 0.8em !important;
  margin: 0;
}

.reveal .dataTables_wrapper .dataTables_length,
.reveal .dataTables_wrapper .dataTables_filter,
.reveal .dataTables_wrapper .dataTables_info,
.reveal .dataTables_wrapper .dataTables_processing,
.reveal .dataTables_wrapper .dataTables_paginate {
  font-size: .8em;
}

.reveal .panel-tabset [role="tab"][aria-selected="true"] {
  border: lightgray 2px solid;
  border-radius: 6px 6px 0px 0px;
  border-bottom: none;
}

.reveal .panel-tabset .tab-content {
  border-top: lightgray 2px solid;
}

.reveal .bottom-align {
  bottom: 0;
}

/* logos */

.reveal .header-logo-right img {
  max-width: max(40px, 9vw);
}

.reveal .header-logo-left img {
  max-width: max(30px, 5vw);
}

/* title slide */

.reveal #title-slide {
  text-align: left !important;
  bottom: 0;
  top: auto !important;
}

.reveal #title-slide .title {
  font-size: $presentation-h1-font-size;
  margin: 0;
}

.reveal #title-slide .subtitle {
  font-size: $presentation-h2-font-size;
  margin: 0;
  margin-bottom: 1rem !important;
}

.reveal #title-slide .quarto-title-authors {
  font-size: $presentation-h3-font-size;
  display: block;
  margin: 0;
  padding-left: 0;
}

.reveal #title-slide .quarto-title-author {
  padding-left: 0;
}

.reveal #title-slide .institute {
  font-size: $presentation-h4-font-size;
  margin: 0;
}

.reveal #title-slide .date {
  font-size: $presentation-h4-font-size;
  margin: 0;
}

.reveal .slide-background-content {
  background-position: right;
}

/* citation */

.reveal .citation,
.reveal .citation a:hover {
  font-size: 0.8em;
  color: lightgray;
}

.reveal .citation a {
  font-size: 0.8em;
  color: gray;
}

.references {
  font-size: 0.7rem;
}
