body {
  background-image: url("../images/home.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
}

.navbar {
  background-color: transparent !important;
}

.nav-footer {
  background-color: transparent !important;
}

.home-container {
  max-width: 1200px;
  display: flex;
  align-items: center;
  height: 100%;
}

.home-grid-parent {
  display: grid;
  margin: auto;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 2em;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 2em;
  grid-template-areas: "text hero";
  /*grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));*/
}

.home-grid-child-left {
  grid-area: text;
}

.home-grid-child-right {
  grid-area: hero;
}

@media only screen and (max-width: 768px) {
  .home-grid-parent {
    grid-template-columns: 1fr;
    grid-column-gap: 0;
    grid-template-areas:
      "hero"
      "text";
  }
}

.home-grid-child-left h2 {
    margin-top: 0.5em;
}
