body {
    background-image: url("../images/home.png");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
}

.navbar {
    background-color: transparent !important;
}

.nav-footer {
    background-color: transparent !important;
}

.home-grid-parent {
    display: grid;
    margin: auto;
    max-width: 1200px;
    padding-left: 2em;
    padding-right: 2em;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2em;
    grid-template-areas: "text hero";
    /*grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));*/
}

.home-grid-child-left {
    grid-area: text;
}

.home-grid-child-right {
    grid-area: hero;
}

@media only screen and (max-width: 576px) {
    .home-grid-parent {
        grid-template-columns: 1fr;
        grid-column-gap: 0;
        grid-template-areas:
            "hero"
            "text";
    }
}

@media only screen and (min-width: 576px) {
    .home-grid-parent {
        margin: 0;
        position: absolute;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }
}

.home-grid-child-left h2 {
    margin-top: 0.5em;
}
