/* slides css style */

/*-- scss:defaults --*/

/* colours, fonts, size ---------------------------------------------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Fira+Mono&family=Nunito:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap');

$primary: #95b540;
$secondary: #E9F2D1;
$link-color: #96b43f;
$body-color: #1c2833;
$code-color: #3b4819;
$code-block-bg: WhiteSmoke;
$font-family-sans-serif: 'Nunito', 'Source Sans Pro', 'Helvetica', 'sans-serif' ;
$font-family-monospace: 'Fira Mono','Ubuntu Mono', 'Lucida Console', 'Courier', 'monospace';
$code-block-border-color: none;
$code-bg: $code-block-bg; /* inline code */

/* presentation */
$presentation-font-size-root: 27px;
$presentation-line-height: 1.3;
$presentation-h1-font-size: 1.802em;
$presentation-h2-font-size: 1.602em;
$presentation-h3-font-size: 1.424em;
$presentation-h4-font-size: 1.266em;
$presentation-h5-font-size: 1.125em;
$presentation-h6-font-size: 1em;

/*-- scss:rules --*/

/* font */
/* major third scale */
.largest { font-size: 1.953em;}
.larger { font-size: 1.563em;}
.large { font-size: 1.25em;}
.small { font-size: 0.8em;}
.smaller { font-size: 0.64em;}
.smallest { font-size: 0.512em;}

.reveal pre {
  font-size: 1.75rem !important;
}

.reveal .largest pre { font-size: 3.41rem !important; }
.reveal .larger pre { font-size: 2.73rem !important; }
.reveal .large pre { font-size: 2.19rem !important; }
.reveal .small pre { font-size: 1.40rem !important; }
.reveal .smaller pre { font-size: 1.12rem !important; }
.reveal .smallest pre { font-size: 0.986rem !important; }

.reveal code {
  font-size: 0.80em !important;
}

.reveal .largest code { font-size: 1.56em !important; }
.reveal .larger code { font-size: 1.25em !important; }
.reveal .large code { font-size: 1em !important; }
.reveal .small code { font-size: 0.64em !important; }
.reveal .smaller code { font-size: 0.51em !important; }
.reveal .smallest code { font-size: 0.41em !important; }

.reveal pre {
  line-height: 1.3;
  margin-bottom: 0.5em;
}

.reveal pre,
.reveal code {
  border-radius: 6px;
  border: 0 !important;
}

.reveal code {
  padding-left: 4px;
  padding-right: 4px;
}

.reveal div.sourceCode {
  border: 0 !important;
  border-radius: 6px;
  margin-bottom: 0.6em !important;
}

.reveal pre code {
  background-color: #F5F5F5 !important;
  border-radius: 6px;
}

.reveal .slide-number {
  font-family: "Source Sans Pro";
}

.reveal .blockquote {
    font-size: inherit;
    padding-left: 1rem;
    padding-right: 1.5rem;
    color: #5a6570;
    padding: 0 1rem;
    border-left: 0.25rem solid #ecf0f1;
    margin-bottom: 1rem;
}

/* text alignment */

.reveal .left {
  display: block;
  text-align: left;
}

.reveal .center {
  display: block;
  text-align: center;
}

.reveal .right {
  display: block;
  text-align: right;
}

/* lists */

.reveal .slide ul,
.reveal .slide ol {
  line-height: 1.2;
}

.reveal .slide ul li,
.reveal .slide ol li {
  margin-top: 0.05em !important;
  margin-bottom: 0.05em !important;
}

/* slide alignment */

.reveal .slides section[data-vertical-align-top]{
	top: 0 !important;
}

/* badge */

.badge {
  background-color: $primary;
  color: white;
  font-size: 0.85em;
  padding: 0.05em 0.3em;
  border-radius: 4px;
  vertical-align: baseline;
}

.badge-primary {
  background-color: $primary;
}

.badge-secondary {
  background-color: $secondary;
}

/* callout */

.reveal .callout {
  border-radius: 0 !important;
}

.reveal .callout-style-default,
.reveal .callout-style-simple {
  border: solid silver 1px !important;
}

.reveal .callout.callout-style-simple .callout-title,
.reveal .callout.callout-style-default .callout-title {
  font-size: 1.6rem !important;
}

.reveal .callout.callout-style-simple .callout-content,
.reveal .callout.callout-style-default .callout-content {
  font-size: 1.4rem !important;
}

.reveal .callout.callout-titled .callout-title p {
  margin-top: 0.2rem;
  margin-bottom: 0;
}

.reveal .callout.callout-titled .callout-body>.callout-content>:last-child {
  margin-bottom: 0.1rem;
}

.reveal .callout.callout-style-simple .callout-icon::before,
.reveal .callout.callout-style-default .callout-icon::before {
  height: 1.4rem;
  width: 1.4rem;
  background-size: 1.3rem 1.3rem;
}

.reveal .callout.callout-titled .callout-icon::before {
  margin-top: 0.6rem;
}

.reveal div.callout-note.callout-style-default .callout-title {
  background-color: $secondary;
}

.reveal div.callout-note .callout-icon::before {
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMTYiIHdpZHRoPSIxNiIgZmlsbD0iIzFjMjgzMyIgdmlld0JveD0iMCAwIDUxMiA1MTIiPjwhLS0hRm9udCBBd2Vzb21lIEZyZWUgNi41LjEgYnkgQGZvbnRhd2Vzb21lIC0gaHR0cHM6Ly9mb250YXdlc29tZS5jb20gTGljZW5zZSAtIGh0dHBzOi8vZm9udGF3ZXNvbWUuY29tL2xpY2Vuc2UvZnJlZSBDb3B5cmlnaHQgMjAyMyBGb250aWNvbnMsIEluYy4tLT48cGF0aCBkPSJNMjU2IDUxMkEyNTYgMjU2IDAgMSAwIDI1NiAwYTI1NiAyNTYgMCAxIDAgMCA1MTJ6TTIxNiAzMzZoMjRWMjcySDIxNmMtMTMuMyAwLTI0LTEwLjctMjQtMjRzMTAuNy0yNCAyNC0yNGg0OGMxMy4zIDAgMjQgMTAuNyAyNCAyNHY4OGg4YzEzLjMgMCAyNCAxMC43IDI0IDI0cy0xMC43IDI0LTI0IDI0SDIxNmMtMTMuMyAwLTI0LTEwLjctMjQtMjRzMTAuNy0yNCAyNC0yNHptNDAtMjA4YTMyIDMyIDAgMSAxIDAgNjQgMzIgMzIgMCAxIDEgMC02NHoiLz48L3N2Zz4=') !important;
}

.reveal div.callout-tip .callout-icon::before {
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMTYiIHdpZHRoPSIxMiIgZmlsbD0iIzFjMjgzMyIgdmlld0JveD0iMCAwIDM4NCA1MTIiPjwhLS0hRm9udCBBd2Vzb21lIEZyZWUgNi41LjEgYnkgQGZvbnRhd2Vzb21lIC0gaHR0cHM6Ly9mb250YXdlc29tZS5jb20gTGljZW5zZSAtIGh0dHBzOi8vZm9udGF3ZXNvbWUuY29tL2xpY2Vuc2UvZnJlZSBDb3B5cmlnaHQgMjAyMyBGb250aWNvbnMsIEluYy4tLT48cGF0aCBkPSJNMjcyIDM4NGM5LjYtMzEuOSAyOS41LTU5LjEgNDkuMi04Ni4ybDAgMGM1LjItNy4xIDEwLjQtMTQuMiAxNS40LTIxLjRjMTkuOC0yOC41IDMxLjQtNjMgMzEuNC0xMDAuM0MzNjggNzguOCAyODkuMiAwIDE5MiAwUzE2IDc4LjggMTYgMTc2YzAgMzcuMyAxMS42IDcxLjkgMzEuNCAxMDAuM2M1IDcuMiAxMC4yIDE0LjMgMTUuNCAyMS40bDAgMGMxOS44IDI3LjEgMzkuNyA1NC40IDQ5LjIgODYuMkgyNzJ6TTE5MiA1MTJjNDQuMiAwIDgwLTM1LjggODAtODBWNDE2SDExMnYxNmMwIDQ0LjIgMzUuOCA4MCA4MCA4MHpNMTEyIDE3NmMwIDguOC03LjIgMTYtMTYgMTZzLTE2LTcuMi0xNi0xNmMwLTYxLjkgNTAuMS0xMTIgMTEyLTExMmM4LjggMCAxNiA3LjIgMTYgMTZzLTcuMiAxNi0xNiAxNmMtNDQuMiAwLTgwIDM1LjgtODAgODB6Ii8+PC9zdmc+') !important;
}

.reveal div.callout-warning .callout-icon::before {
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMTYiIHdpZHRoPSIxNiIgZmlsbD0iIzFjMjgzMyIgdmlld0JveD0iMCAwIDUxMiA1MTIiPjwhLS0hRm9udCBBd2Vzb21lIEZyZWUgNi41LjEgYnkgQGZvbnRhd2Vzb21lIC0gaHR0cHM6Ly9mb250YXdlc29tZS5jb20gTGljZW5zZSAtIGh0dHBzOi8vZm9udGF3ZXNvbWUuY29tL2xpY2Vuc2UvZnJlZSBDb3B5cmlnaHQgMjAyMyBGb250aWNvbnMsIEluYy4tLT48cGF0aCBkPSJNMjU2IDUxMkEyNTYgMjU2IDAgMSAwIDI1NiAwYTI1NiAyNTYgMCAxIDAgMCA1MTJ6bTAtMzg0YzEzLjMgMCAyNCAxMC43IDI0IDI0VjI2NGMwIDEzLjMtMTAuNyAyNC0yNCAyNHMtMjQtMTAuNy0yNC0yNFYxNTJjMC0xMy4zIDEwLjctMjQgMjQtMjR6TTIyNCAzNTJhMzIgMzIgMCAxIDEgNjQgMCAzMiAzMiAwIDEgMSAtNjQgMHoiLz48L3N2Zz4=') !important;
}

.reveal div.callout-caution .callout-icon::before {
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMTYiIHdpZHRoPSIxNiIgZmlsbD0iIzFjMjgzMyIgdmlld0JveD0iMCAwIDUxMiA1MTIiPjwhLS0hRm9udCBBd2Vzb21lIEZyZWUgNi41LjEgYnkgQGZvbnRhd2Vzb21lIC0gaHR0cHM6Ly9mb250YXdlc29tZS5jb20gTGljZW5zZSAtIGh0dHBzOi8vZm9udGF3ZXNvbWUuY29tL2xpY2Vuc2UvZnJlZSBDb3B5cmlnaHQgMjAyMyBGb250aWNvbnMsIEluYy4tLT48cGF0aCBkPSJNMjU2IDMyYzE0LjIgMCAyNy4zIDcuNSAzNC41IDE5LjhsMjE2IDM2OGM3LjMgMTIuNCA3LjMgMjcuNyAuMiA0MC4xUzQ4Ni4zIDQ4MCA0NzIgNDgwSDQwYy0xNC4zIDAtMjcuNi03LjctMzQuNy0yMC4xcy03LTI3LjggLjItNDAuMWwyMTYtMzY4QzIyOC43IDM5LjUgMjQxLjggMzIgMjU2IDMyem0wIDEyOGMtMTMuMyAwLTI0IDEwLjctMjQgMjRWMjk2YzAgMTMuMyAxMC43IDI0IDI0IDI0czI0LTEwLjcgMjQtMjRWMTg0YzAtMTMuMy0xMC43LTI0LTI0LTI0em0zMiAyMjRhMzIgMzIgMCAxIDAgLTY0IDAgMzIgMzIgMCAxIDAgNjQgMHoiLz48L3N2Zz4=') !important;
}

.reveal .callout-caution .callout-icon-container {
  padding-top: 0 !important;
}

.reveal div.callout-important .callout-icon::before {
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMTYiIHdpZHRoPSIxNiIgZmlsbD0iIzFjMjgzMyIgdmlld0JveD0iMCAwIDUxMiA1MTIiPjwhLS0hRm9udCBBd2Vzb21lIEZyZWUgNi41LjEgYnkgQGZvbnRhd2Vzb21lIC0gaHR0cHM6Ly9mb250YXdlc29tZS5jb20gTGljZW5zZSAtIGh0dHBzOi8vZm9udGF3ZXNvbWUuY29tL2xpY2Vuc2UvZnJlZSBDb3B5cmlnaHQgMjAyMyBGb250aWNvbnMsIEluYy4tLT48cGF0aCBkPSJNNDE2IDM5OC45YzU4LjUtNDEuMSA5Ni0xMDQuMSA5Ni0xNzQuOUM1MTIgMTAwLjMgMzk3LjQgMCAyNTYgMFMwIDEwMC4zIDAgMjI0YzAgNzAuNyAzNy41IDEzMy44IDk2IDE3NC45YzAgLjQgMCAuNyAwIDEuMXY2NGMwIDI2LjUgMjEuNSA0OCA0OCA0OGg0OFY0NjRjMC04LjggNy4yLTE2IDE2LTE2czE2IDcuMiAxNiAxNnY0OGg2NFY0NjRjMC04LjggNy4yLTE2IDE2LTE2czE2IDcuMiAxNiAxNnY0OGg0OGMyNi41IDAgNDgtMjEuNSA0OC00OFY0MDBjMC0uNCAwLS43IDAtMS4xek05NiAyNTZhNjQgNjQgMCAxIDEgMTI4IDBBNjQgNjQgMCAxIDEgOTYgMjU2em0yNTYtNjRhNjQgNjQgMCAxIDEgMCAxMjggNjQgNjQgMCAxIDEgMC0xMjh6Ii8+PC9zdmc+') !important;
}

/* tables */

.reveal table {
  font-size: 0.8em !important;
  margin: 0;
}

/* datatable components */

.reveal .dataTables_wrapper .dataTables_length, 
.reveal .dataTables_wrapper .dataTables_filter,
.reveal .dataTables_wrapper .dataTables_info,
.reveal .dataTables_wrapper .dataTables_processing,
.reveal .dataTables_wrapper .dataTables_paginate {
  font-size: .8em;
}

/* panel tabset */

.reveal .panel-tabset [role="tab"][aria-selected="true"] {
  border: lightgray 2px solid;
  border-radius: 6px 6px 0px 0px;
  border-bottom: none;
}

.reveal .panel-tabset .tab-content {
  border-top: lightgray 2px solid;
}

.reveal .panel-tabset .panel-tabset-tabby {
  margin-bottom: 0;
}

/* title slide */

#title-slide .title {
  font-size: $presentation-h1-font-size;
  margin: 0;
}

#title-slide .subtitle {
  font-size: $presentation-h2-font-size;
  margin: 0;
  margin-bottom: 1rem !important;
}

#title-slide .quarto-title-authors {
  font-size: $presentation-h3-font-size;
  display: block;
  margin: 0;
  padding-left: 0;
}

#title-slide .quarto-title-author {
  padding-left: 0;
}

#title-slide .institute, #title-slide .author {
  font-size: $presentation-h4-font-size;
  margin: 0;
}

#title-slide .date {
  font-size: $presentation-h5-font-size;
  margin: 0;
}

.reveal .slide-background-content {
  background-position: right;
}

#title-slide .title-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
}

#title-slide .title-parent {
  display: -ms-grid;
  display: grid;
  margin: auto;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 2em;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 2em;
  /*grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));*/
}

#title-slide .title-one {
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  grid-template-areas: "text";
}

#title-slide .title-two {
  -ms-grid-columns: 12fr 2em 9fr;
  grid-template-columns: 12fr 9fr;
  grid-template-areas: "text hero";
}

#title-slide .title-child-text {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: text;
  text-align: left;
}

#title-slide .title-child-hero {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: hero;
}

/* citation */

.reveal .citation,
.reveal .citation a:hover {
  font-size: 0.8em;
  color: lightgray;
}

.reveal .citation a {
  font-size: 0.8em;
  color: gray;
}

.references {
  font-size: 0.7rem;
}
