/*
 *  Rui Benfeitas 2020
 */


nav {
    background-color: #f5f5f5;

    ul a {
        color: $textgray;
        img {
            height: 64px;
        }
    }
    ul li {
        list-style-type: none;
    }
    i.right {
        float: right;
        margin-left: -5px;
    }
    .navlogo img {
        height: 64px;
        padding: 5px;
    }
    .navlogo:hover {
        background-color: rgba(0, 0, 0, 0.0);
    }
}


#toc-sidebar {
    @media screen and (min-width: 992px) {
        position: absolute;
        top: 85px;
        right: 23px;
        width: 22%;
    }
    @media screen and (max-width: 992px) {
        display: none;
    }

    &.fix-scroll {
        position: fixed;
        top: 7px;
    }

    padding: 3px;

    a {
        color: #666
    }
    a:hover {
        text-decoration: underline;
        font-weight: bold;
    }

    ul {
        li {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
        margin-bottom: 0px;
        .selected {
            font-weight: bold;
        }
        .H1 {
            margin-left: 0px;
        }
        .H2 {
            margin-left: 10px;
        }
        .H3 {
            margin-left: 20px;
        }
    }
}

.content {
    background-color: dark;
    padding-bottom: 64px;
    margin-bottom: 64px;
    ul {
        margin-left: 1.2rem;
        li {
            list-style-type: disc;
        }
    }
    dl {
        margin-left:10px;
    }
}

.dropdown-content li > a, .dropdown-content li > span {
    color: $textgray;
}

/*
 * h1 {
 *   font-size: 1.802em;
 * }
 *
 * h2 {
 *   font-size: 1.602em;
 * }
 *
 * h3 {
 *   font-size: 1.424em;
 * }
 *
 * h4 {
 *   font-size: 1.266em;
 * }
 *
 * h5 {
 *   font-size: 1.266em;
 * }
 *
 * h6 {
 *   font-size: 1.125em;
 * }
 */

h3 {
    code {
        font-size: 2.5rem;
    }
}

@media only screen and (max-width : 600px) {
    #index-banner .section {
        top: 0;
    }
}

.icon-block {
    padding: 0 15px;
    .material-icons {
        font-size: inherit;
    }
}

footer.page-footer {
    margin: 0;
    background-color: #f5f5f5;
}

.row {
    a {
        color: blue;
    }
}

#funding {
    margin-bottom: 0px;
    .logos {
        text-align: center;
        background-color: white;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

code {
    font-family: Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal, monospace;
    font-size: 13px;
    color: #333;
    background: #efefef;
    border: 1px solid #c7c7c7;
    border-radius: 2px;
    padding: 0px 1px;
}

pre {
    color:#efefef;
    background: #333;
    padding:8px 15px;
    border-radius: 3px;
    border:1px solid #c7c7c7;
    overflow: auto;
    overflow-y: hidden;

    code {
        color:#efefef;
        background: #333;
        text-shadow: 0px 1px 0px #000;
        margin: 0px;
        padding: 0px;
        border: none;
    }
}

.center-image {
    margin: 0 auto;
    display: block;
}


table {
    line-height: 1.0rem;
}

table.border {
    thead {
        border-bottom: none;
    }
    tbody {
        border: 1px solid black;
    }
}

html {
    font-size: 90%;
}

body {
    background: #ffffff;
    color: $textgray;
    line-height: 1.6;
}

.bread {
    padding-top: 48px;
    margin: 48px;
    ul {
        margin-left: 1.2rem;
        li {
            list-style-type: disc;
        }
    }
    dl {
        margin-left:10px;
    }
}

img.flip {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.transition,.play {
    -webkit-transition: .5s;
    -moz-transition: .5s;
    transition: .5s;
    -webkit-transition-timing-function: cubic-bezier(.4,0,.5,1);
    -moz-transition-timing-function: cubic-bezier(.4,0,.5,1);
    transition-timing-function: cubic-bezier(.4,0,.5,1);
}

.nodec a {
    font-weight:normal;
    text-decoration:none;
    color:#444;
}

.topborder {
    border-top-style: solid;
    border-color: $textgray;
    border-width: 2px;
}

.bottomborder {
    border-bottom-style: solid;
    border-color: $textgray;
    border-width: 2px;
}

.button-collapse {
    color: #textgray;
}

.compact td {
    padding: 5px;
}

.panel-info {
    border: 1px solid black;

    .panel-heading {
        background-color: $textgray;
        color: white;
        h3 {
            font-size: 2rem;
            margin-top: 0px;
        }
    }

    .panel-body {
        padding-left: 1em;
        .row {
            margin-bottom: 5px;
        }
        ul {
            margin-top: 2px;
            margin-bottom: 2px;
            margin-left: 2rem;
        }
    }
}
